version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.4
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
            - deps-
      - run:
          name: install dependencies
          command: |
            poetry instal
            wget https://github.com/instrumenta/conftest/releases/download/v0.17.1/conftest_0.18.0_Linux_x86_64.tar.gz
            tar xzf conftest_0.18.0_Linux_x86_64.tar.gz
            sudo mv conftest /usr/local/bin
      - save_cache:
          paths:
            - /home/circleci/.cache/pypoetry/virtualenvs
          key: deps-{{ checksum "poetry.lock" }}
      - run:
          name: run tests
          command: |
            poetry run pytest
